@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import "tailwindcss";

@theme {
    --color-grey: #171616;
    --color-lightGrey: #232121;
}

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
}


.varela-round-regular {
  font-family: "Varela Round", serif;
  font-weight: 700;
  font-style: normal;
}

@keyframes slide {
  0%   { transform: translateX(0); }
  100% { transform: translateX(400%); }
}

.slider {
  animation: slide 0.8s linear infinite;
}